<!-- <div>
  <ngb-carousel>
    <ng-template ngbSlide>
      <div class="picsum-img-wrapper">
        <img src="../../assets/images/haircut.webp" alt="Angular Carousel 1">
      </div>
      <div class="carousel-caption">
        <h3>Hair Cut</h3>
        <p>What's your style</p>
      </div>
    </ng-template>
    <ng-template ngbSlide>
      <div class="picsum-img-wrapper">
        <img src="../../assets/images/plumber.webp" alt="Angular Carousel 2">
      </div>
      <div class="carousel-caption">
        <h3>Plumber</h3>
        <p>Is there a leak?</p>
      </div>
    </ng-template>
    <ng-template ngbSlide>
      <div class="picsum-img-wrapper">
        <img src="../../assets/images/carpenter.webp" alt="Angular Carousel 2">
      </div>
      <div class="carousel-caption">
        <h3>carpenter</h3>
        <p>Your door needs repair?</p>
      </div>
    </ng-template>
  </ngb-carousel>
</div> -->
<div *ngIf="isServiceProvider">
  <div style="padding-top: 6%; padding-left: 6%;">
    <mat-form-field appearance="outline">
      <mat-label>From</mat-label>
      <input matInput [matDatepicker]="frompicker" placeholder="From" [(ngModel)]="fromDate"
        (ngModelChange)="dateChangeEventHandler()" [min]="minDate" />
      <mat-datepicker-toggle matSuffix [for]="frompicker"></mat-datepicker-toggle>
      <mat-datepicker #frompicker></mat-datepicker>
    </mat-form-field>
    <mat-form-field style="padding-left: 8%;" appearance="outline">
      <mat-label>To</mat-label>
      <input matInput [matDatepicker]="topicker" placeholder="To" [(ngModel)]="toDate"
        (ngModelChange)="dateChangeEventHandler()" [min]="minDate" />
      <mat-datepicker-toggle matSuffix [for]="topicker"></mat-datepicker-toggle>
      <mat-datepicker #topicker></mat-datepicker>
    </mat-form-field>
  <span style="padding-left: 8%;" >
    <button type="submit" #focusSignIn  mat-stroked-button color="accent" class="btn-block"
      fxFlex.xs="70" fxFlex.sm="70" fxFlex.md="60" fxFlex.gt-md="60" (click)="AddSlots()"> Add Slots
    </button>
  </span>
  </div>
  <div>
    <table mat-table [dataSource]="serviceProviderDataSource" class="mat-elevation-z8">

      <ng-container matColumnDef="BookingID">
        <th mat-header-cell *matHeaderCellDef> Slot ID </th>
        <td mat-cell *matCellDef="let element"> {{element.BookingID}} </td>
      </ng-container>

      <ng-container matColumnDef="Start">
        <th mat-header-cell *matHeaderCellDef> Start </th>
        <td mat-cell *matCellDef="let element"> {{element.Start}} </td>
      </ng-container>

      <ng-container matColumnDef="End">
        <th mat-header-cell *matHeaderCellDef> End </th>
        <td mat-cell *matCellDef="let element"> {{element.End}} </td>
      </ng-container>

      <ng-container matColumnDef="Booked">
        <th mat-header-cell *matHeaderCellDef> Booked </th>
        <td mat-cell *matCellDef="let element"> {{element.Booked}} </td>
      </ng-container>


      <tr mat-header-row *matHeaderRowDef="serviceProviderSlotColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: serviceProviderSlotColumns;"></tr>
    </table>
  </div>
</div>


<div *ngIf="!isServiceProvider" style="padding-top: 6%;">
  <mat-tab-group backgroundColor="primary">
    <mat-tab label="Hair Stylist">
      <table mat-table [dataSource]="hairStylistDataSource" class="mat-elevation-z8">

        <ng-container matColumnDef="Name">
          <th mat-header-cell *matHeaderCellDef> Service Provider Name </th>
          <td mat-cell *matCellDef="let element"> {{element.Name}} </td>
        </ng-container>

        <ng-container matColumnDef="Email">
          <th mat-header-cell *matHeaderCellDef> Email </th>
          <td mat-cell *matCellDef="let element"> {{element.Email}} </td>
        </ng-container>

        <ng-container matColumnDef="PhoneNumber">
          <th mat-header-cell *matHeaderCellDef> Phone Number </th>
          <td mat-cell *matCellDef="let element"> {{element.PhoneNumber}} </td>
        </ng-container>

        <ng-container matColumnDef="Start">
          <th mat-header-cell *matHeaderCellDef> Start </th>
          <td mat-cell *matCellDef="let element"> {{element.Start}} </td>
        </ng-container>
  
        <ng-container matColumnDef="End">
          <th mat-header-cell *matHeaderCellDef> End </th>
          <td mat-cell *matCellDef="let element"> {{element.End}} </td>
        </ng-container>

        <ng-container matColumnDef="Book">
          <th mat-header-cell *matHeaderCellDef>  </th>
          <td mat-cell *matCellDef="let element"> <button mat-raised-button color="primary" (click)="book(element.name)">Book</button> </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="customerColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: customerColumns;"></tr>
      </table>
    </mat-tab>
    <mat-tab label="Plumber">
      <table mat-table [dataSource]="plumberDataSource" class="mat-elevation-z8">
        
        <ng-container matColumnDef="Name">
          <th mat-header-cell *matHeaderCellDef> Service Provider Name </th>
          <td mat-cell *matCellDef="let element"> {{element.Name}} </td>
        </ng-container>

        <ng-container matColumnDef="Email">
          <th mat-header-cell *matHeaderCellDef> Email </th>
          <td mat-cell *matCellDef="let element"> {{element.Email}} </td>
        </ng-container>

        <ng-container matColumnDef="PhoneNumber">
          <th mat-header-cell *matHeaderCellDef> Phone Number </th>
          <td mat-cell *matCellDef="let element"> {{element.PhoneNumber}} </td>
        </ng-container>

        <ng-container matColumnDef="Start">
          <th mat-header-cell *matHeaderCellDef> Start </th>
          <td mat-cell *matCellDef="let element"> {{element.Start}} </td>
        </ng-container>
  
        <ng-container matColumnDef="End">
          <th mat-header-cell *matHeaderCellDef> End </th>
          <td mat-cell *matCellDef="let element"> {{element.End}} </td>
        </ng-container>

        <ng-container matColumnDef="Book">
          <th mat-header-cell *matHeaderCellDef>  </th>
          <td mat-cell *matCellDef="let element"> <button mat-raised-button color="primary" (click)="book(element.name)">Book</button> </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="customerColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: customerColumns;"></tr>
      </table>
    </mat-tab>
    <mat-tab label="Carpenter">
      <table mat-table [dataSource]="carpenterDataSource" class="mat-elevation-z8">
        
        <ng-container matColumnDef="Name">
          <th mat-header-cell *matHeaderCellDef> Service Provider Name </th>
          <td mat-cell *matCellDef="let element"> {{element.Name}} </td>
        </ng-container>

        <ng-container matColumnDef="Email">
          <th mat-header-cell *matHeaderCellDef> Email </th>
          <td mat-cell *matCellDef="let element"> {{element.Email}} </td>
        </ng-container>

        <ng-container matColumnDef="PhoneNumber">
          <th mat-header-cell *matHeaderCellDef> Phone Number </th>
          <td mat-cell *matCellDef="let element"> {{element.PhoneNumber}} </td>
        </ng-container>

        <ng-container matColumnDef="Start">
          <th mat-header-cell *matHeaderCellDef> Start </th>
          <td mat-cell *matCellDef="let element"> {{element.Start}} </td>
        </ng-container>
  
        <ng-container matColumnDef="End">
          <th mat-header-cell *matHeaderCellDef> End </th>
          <td mat-cell *matCellDef="let element"> {{element.End}} </td>
        </ng-container>

        <ng-container matColumnDef="Book">
          <th mat-header-cell *matHeaderCellDef>  </th>
          <td mat-cell *matCellDef="let element"> <button mat-raised-button color="primary" (click)="book(element.name)">Book</button> </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="customerColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: customerColumns;"></tr>
      </table>
    </mat-tab>
  </mat-tab-group>
</div>