<div class="back">
  <mat-card class="profileName">
    <mat-card-content class="headerText">{{customer_info.name}}</mat-card-content>
  </mat-card>
  <div fxLayout="row">
    <h3 class="details">Full Name : <span class="detailValue">{{customer_info.name}}</span></h3>
  </div>
  <div fxLayout="row">
    <h3 class="details">Email Id : <span class="detailValue">{{customer_info.email}}</span></h3>
  </div>
  <div fxLayout="row">
    <h3 class="details">Phone No : <span class="detailValue">{{customer_info.phoneNumber}}</span></h3>
  </div>
  <div fxLayout="row">
    <h3 class="addressDetail">Address :
      <span class="detailValue">
        {{customer_info.houseNumber}}, <br>
        <span style="padding-left: 6em;">{{customer_info.street}},</span> <br>
        <span style="padding-left: 6em;">{{customer_info.city}}, {{customer_info.state}},</span><br>
        <span style="padding-left: 6em;">{{customer_info.country}}, {{customer_info.pinCode}}</span>
      </span>
    </h3>
  </div>
  <div class="buttonStyle">
    <button mat-raised-button color="accent" (click)="updateClicked()">Update Info</button>
  </div>
</div>