.profileName{
    align-self: center;
    margin-top: 3%;
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    text-align: center;
    background-color: #3F51B5 ;
}

.headerText{
    color: #fff;
    font-weight: 500;
    font-size: large;
}

.back{
    background-color: #fff;
    position: absolute;
    height: 100%;
    width: 100%;
}

.details{
    margin-left: 8%;
    margin-top: 2.8%;
    font-weight: 500;
}

.detailValue{
    margin-left: 2%;
    margin-top: 3%;
}

.addressDetail{
    margin-left: 8%;
    margin-top: 2%;
    font-weight: 500;
}

.addressVal{
    margin-left: 2%;
    margin-top: 2.2%;
}

.buttonStyle {
    margin-left: 45%;
    margin-top: 3%;
  }