<mat-toolbar color="primary" class="app-header">
    <div><a target="_blank" class="logo">Home Service</a></div>
    <span class="nav-tool-items">
        <a mat-button routerLink="/homepage" routerLinkActive="active">Homepage</a>
        <a mat-button routerLink="/bookings" routerLinkActive="active">Bookings</a>
        <a mat-button routerLink="/info" routerLinkActive="active">My Info</a>
        <a mat-button routerLink="/login" routerLinkActive="active">Sign Out</a>
    </span>
</mat-toolbar>
<div class="app-layout">
    <div class="app-page-inner">
        <main class="app-content">
            <router-outlet></router-outlet>
        </main>
    </div>
</div>